.box {
    height: 400px;
    width: 400px;
    background-color: white;
    opacity: 50%;
    border-radius: 100%;
    animation-name: don;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
*{
    margin: 0;
    padding: 0;
}



@keyframes don {
    
    0% {
        scale: 1;
    }
    
    25% {
        
        scale: 0.8;
        
    }
    
    50% {
        scale: 1;
        
        
    }

    75% {
        scale: 0.8;


    }

    100% {
        scale: 1;


    }

}

.u1 {
    text-indent: 40px;
    line-height: 3;
    font-size: 22px;
    /* position: absolute;
    left: 40%; */
}

.a1 {
    color: rgb(15, 252, 15);
}

li {
    cursor: pointer;
}

.rr1 {
    cursor: pointer;
}

.rr2 {
    cursor: pointer;
}

.rr3 {
    cursor: pointer;
}

.rr4 {
    cursor: pointer;
}

li:hover {
    color: rgb(15, 252, 15)
}

.li1 {
    color: rgb(15, 252, 15);
    
}


.pp1 {
     font-size: 30px; 
    letter-spacing: 10px; 
    color: rgb(15, 252, 15);

    }
    
.pp2 {
    color: white;
     font-size: 60px; 

}


.n1 {
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%;
}

.c2 {
    background-image: url(0025.jfif);
    height: 800px;
}

.cc {
    color: rgb(15, 252, 15);
    letter-spacing: 4px;
    font-family: inherit;
    font-size: 40px;
}

.p1 {
    color: white;
    font-family: inherit;
    font-size: 90px;
    font-weight: 600;
    line-height: 1.1;
}

.c3 {
    background-color: rgb(36, 35, 35);
}

.c4 {
    background-color: rgb(18, 17, 31);
}

.c5 {
    background-color: rgb(18, 17, 31);
}

.cd {
    background-color: rgb(70, 70, 78);
    height: 350px;
}

.td {
    font-size: 25px;
    color: white;
    text-align: start;
}

.td1 {
    font-size: 15px;
    color: rgb(136, 136, 136);
    text-align: start;
    padding-top: 65px;
}
.tc{
    
    color: rgb(136, 136, 136);
}



  .pr{
    font-size: 20px;
    color: white;
    text-align: start;
  }
  .g1{
    font-size: 15px;
    color: rgb(136, 136, 136);
    text-align: start;
  }
 .f1{
cursor: pointer;
}

 @media only screen and (max-width: 992px) {
    .c2 {
        height: 1000px;
    }
   }


.iia{
    height: 150px; 
     border-radius: 10px;
      position: absolute;
       right: 50px;
}
.iib{
    height: 150px; 
     border-radius: 10px;
      position: absolute;
       right: 50px;
}
.iic{
    height: 150px; 
     border-radius: 10px;
      position: absolute;
       right: 50px;
}
.iid{
    height: 150px; 
     border-radius: 10px;
      position: absolute;
       right: 50px;
       
}
html{
    scroll-behavior: smooth;
}











 /* @media only screen and (max-width: 320px) {
    .imo {
        height: 220px;
    }
   } */
 /* @media only screen and (min-width: 320px) {
    .imo {
        height: 320px;
    }
   }
 @media only screen and (min-width: 375px) {
    .imo {
        height: 375px;
    }
   }
 @media only screen and (min-width: 445px) {
    .imo {
        height: 445px;
    }
   }
 @media only screen and (min-width: 768px) {
    .imo {
        height: 668px;
    }
   } */






 @media only screen and (max-width: 768px) {
    .u1 {
        text-indent: 20px;
    }
   }





 @media only screen and (max-width: 425px) {
    .box {
        height: 300px;
        width: 300px;
    }
   }
 @media only screen and (max-width: 325px) {
    .box {
        height: 250px;
        width: 250px;
    }
   }
   
   


   @media only screen and (max-width: 768px) {
      .iia {
        height: 120px; 
        border-radius: 10px;
        top: 20px;
        display: block;
        
    }
}




@media only screen and (max-width: 425px) {
    .iia {
        height: 100px; 
        border-radius: 10px;
        bottom: 0px;
        
    }
}

 


   @media only screen and (max-width: 768px) {
      .iib {
        height: 120px; 
        border-radius: 10px;
        top: 20px;
        
    }
}
   @media only screen and (max-width: 425px) {
      .iib {
        height: 100px; 
        border-radius: 10px;
        bottom: 0px;
        
    }
    
}
   @media only screen and (max-width: 768px) {
      .iic {
        height: 120px; 
        border-radius: 10px;
        top: 20px;
        
    }
}
   @media only screen and (max-width: 425px) {
      .iic {
        height: 100px; 
        border-radius: 10px;
        bottom: 0px;
        
    }
    
}
   @media only screen and (max-width: 768px) {
      .iid {
        height: 120px; 
        border-radius: 10px;
        top: 20px;
        
    }
}
   @media only screen and (max-width: 425px) {
      .iid {
        height: 100px; 
        border-radius: 10px;
        bottom: 0px;
        
    }
    
}
   /* @media only screen and (min-width: 768) {
      .imp1 {

    display: none;    
background-color: red;
height: 40vh;
width: 40vw;

    }
    
} */
  

/* position: absolute; */
/* left: 0px; */


.jj{
    height: 100px;
}

.dk{
    height: 170px;
    display: block;
}














   @media only screen and (max-width: 600px) {
    .pp1 {
        letter-spacing: 0px;
        color: rgb(15, 252, 15);
        font-size: 30px;
    }
    .pp2 {
        font-size: 40px;
        letter-spacing: 0px;
        color: white;
    }
    
   }



   /* .k1:hover{
    padding-bottom: 20px;
   } */
    /* .o1,.o2,.o3,.o4{
        display: none;
    } */

    .boxa {
        animation-name: bol1;
        animation-iteration-count: infinite;
        height: 40px;
        width: 40px;
        background-color: rgb(22, 231, 22);
        border-radius: 100%;
        animation-duration: 4s;
        animation-delay: 2s;
        
    }
    
    .boxb {
        animation-name: bol2;
        animation-iteration-count: infinite;
        height: 40px;
        width: 40px;
        background-color: rgb(44, 212, 44);
        border-radius: 100%;
        animation-duration: 4s;
        animation-delay: 3s;
        
    }
    .boxc {
        animation-name: bol3;
        animation-iteration-count: infinite;
        height: 40px;
        width: 40px;
        background-color: rgb(29, 218, 29);
        border-radius: 100%;
        animation-duration: 4s;
        animation-delay: 4s;
        animation-delay: 4s;
    }
    .db1 {
        animation-name: ddl;
        animation-duration: 8s;
        
    }



    
    


    /* @keyframes bol1 {
        0% {
            scale: 1;
        }

        50% {

            scale: 1.2;

        }

        100% {

            scale: 1;

        }
    }
   
    @keyframes bol2 {
        0% {
            scale: 1;
        }

        50% {

            scale: 1.2;

        }

        100% {

            scale: 1;

        }
    }
   
 
    @keyframes bol3 {
        0% {
            scale: 1;
        }

        50% {

            scale: 1.2;

        }

        100% {

            scale: 1;

        }
    } */